<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMVtXr81Otbvjnh_OLs44Lwdd2sfoex-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1051905230507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patsspace.app</string>
	<key>PROJECT_ID</key>
	<string>patsspace-app</string>
	<key>STORAGE_BUCKET</key>
	<string>patsspace-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051905230507:ios:7f4ba15b9f0773d04199ee</string>
</dict>
</plist>